{{ define "layouts/default.tmpl" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {{ block "content" }}
    This appears when no "content" is provided.
    {{ end }}
</body>

</html>
{{ end }}
